run = "npm run dev -- -H 0.0.0.0 -p 3000"
modules = ["nodejs-20"]

[deployment]
build = "npm install --include=dev && npm run build"
run = "npm run start -- -H 0.0.0.0 -p 3000"

[[ports]]
localPort = 3000
externalPort = 80
